*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
gwt-unitCache/

# Compiled classes
bin/

# boilerplate generated classes #
.apt_generated/

#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

